<ion-navbar *navbar>
  <ion-title>
    Batches
  </ion-title>
  <ion-buttons end>
    <button (click)="addBatch()">
      <ion-icon name="md-add"></ion-icon> new
    </button>
  </ion-buttons>

</ion-navbar>

<ion-content class="batchTab">
  <ion-card *ngFor="#batch of batches" (click)="viewBatch(batch)">

    <ion-card-header>
      {{batch.name}}
    </ion-card-header>

    <ion-card-content>
      Fee: {{batch.fee}} Rupees
      <br>Intake: {{batch.intake}} students
      <br>Teachers:
      <ion-badge light *ngFor="#teacher of batch.teachers">{{teacher.fullName}}</ion-badge>

    </ion-card-content>

  </ion-card>
</ion-content>
